.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 6px 8px;
  border-radius: 4px;
  line-height: 22px;
  font-size: 1.6rem;
  font-weight: 700;
  // font-family: var(--font-family);
  font-family: 'Proxima Nova', Arial, Tahoma, 'Ping Fang SC', sans-serif;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;

  + .wrapper {
    margin-left: 16px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}
// Button types
.rounded {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgba(22, 24, 35, 0.12);

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}
.primary {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);

  &:hover {
    border-color: var(--primary);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.text {
  font-weight: 600;
  justify-content: center;
  color: #161823;
  border-color: rgba(22, 24, 35, 0.12);

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

//disabled

// Button sizes
.small {
  min-width: 88px;
  padding: 4px 16px;
}
.large {
  padding: 14px 16px;
  min-width: 140px;
}
