.container {
  position: relative;
  padding: 20px 0px;
  display: flex;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
    background: rgba(22, 24, 35, 0.2);
  }
}
.avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}
.content {
  margin-left: 12px;
  width: 624px;
}
