.menu-lists {
  background-color: rgb(255, 255, 255);
  width: 284px;
  padding-right: 4px;
  position: relative;
  border-radius: 8px;
}
.down-icon {
  color: #fff;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  display: block;
  width: 24px;
  height: 8px;
  position: absolute;
  bottom: 2px;
  left: 46px;
}
.menu-popper {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 280px;
  padding: 8px 0px;
  max-height: 448px;
  overflow: auto;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  &::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
  }
}

.more-link {
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  font-size: 24px;
  cursor: pointer;
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  position: relative;
  cursor: pointer;

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
  .text {
    margin-left: 12px;
  }
  .icon {
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
