.wrapper {
  margin-bottom: 8px;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 4px;
  color: var(--text-color);
  transition: background-color ease-in-out 200ms;

  span {
    height: 32px;
    line-height: 31px;
  }

  &.active {
    color: var(--primary);

    .active-icon {
      display: block;
    }

    .icon {
      display: none;
    }
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
.title {
  padding-left: 8px;
}

.active-icon {
  display: none;
}
