.video-progress-track {
  height: 3px;
  cursor: pointer;
}
.video-progress-track.video-progress-track-0 {
  background: #fff;
}
.volume-track {
  cursor: pointer;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
.volume-track.volume-track-1 {
  background-color: #fff;
}
