.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  background-color: var(--white);
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 24px;
}

.logo-link {
  display: flex;
  cursor: pointer;
}

//actions
.actions {
  display: flex;
  align-items: center;
}
.action-btn {
  position: relative;
  display: flex;
  font-size: 2.2rem;
  color: var(--text-color);
  background-color: transparent;
  padding: 4px 9.5px;
  cursor: pointer;
}

.upload-btn {
  & > span:first-child {
    margin: 0 4px;
  }
  & > span:nth-child(2) {
    margin-left: 2px;
    margin-right: 8px;
  }
}
.upload-btn + .action-btn {
  margin-left: 10px;
}

.badge {
  position: absolute;
  top: -3px;
  right: 0px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  font-family: var(--font-family);
  background-color: var(--primary);
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 14.5px;
  cursor: pointer;
}

.more-btn {
  font-size: 2rem;
  margin-left: 16px;
  background-color: transparent;
  padding: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
