.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 24px;
}

.search,
.search-result {
  width: 361px;
}

.search {
  position: relative;
  height: var(--search-height);
  display: flex;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  border: 1.5px solid transparent;

  input {
    font-family: 'Proxima Nova', Arial, Tahoma, 'PingFangSC', sans-serif;
    line-height: 22px;
    flex: 1;
    height: 100%;
    color: var(--black);
    font-size: 1.6rem;
    padding: 12px 0px;
    background-color: transparent;
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }
  &::after {
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    width: 1px;
    background-color: rgba(22, 24, 35, 0.12);
  }
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.search-title {
  padding: 5px 12px;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.search-btn {
  width: 52px;
  height: 100%;
  font-size: 1.9rem;
  color: rgba(22, 24, 35, 0.34);
  border-radius: 0px var(--search-border-radius) var(--search-border-radius) 0px;

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
//actions
.actions {
  display: flex;
  align-items: center;
}
.action-btn {
  position: relative;
  display: flex;
  font-size: 2.2rem;
  color: #161823;
  background-color: transparent;
  padding: 4px 9.5px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -3px;
  right: 0px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  font-family: 'ProximaNova', sans-serif;
  background-color: var(--primary);
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 14.5px;
  cursor: pointer;
}

.more-btn {
  font-size: 2rem;
  margin-left: 24px;
  background-color: transparent;
  padding: 4px 8px;
  cursor: pointer;
}
